* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    
}


body {
    /* width: 1440px; */
    height: 3860px;
    box-sizing: border-box;
    background-color: #110D28;
}


.big-box {
    background: #110D28; 
    width: 1347px;
    height: 914.5px;
    position: relative;
    flex-direction: column;
    /* border: 3px solid red;   */
}

.header {
    /* border: 3px solid red; */
    margin-top: 18px;
    margin-left: 100px;
    width: 1240px;
    height: 64px;
    display: flex;
   
}
.innheader {
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items: center;


}
.aboutcompany {
    width: 103px;
    height: 17px;
    /* margin: 23px auto auto 438px; */
    margin-left: 438px;
    color: #F4F6FC;
    font-family: "SF Compact Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.tradingplatform {
    width: 108px;
    height: 17px;
    margin: 23px auto auto 40px;
    color: #827F8F;
    font-family: "SF Compact Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}
.accounttype {
    width: 95px;
    height: 17px;  
    margin: 23px auto auto 40px;
    color: #827F8F;
    font-family: "SF Compact Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
}
.contact {
    width: 51px;
    height: 17px;
    margin: 23px auto auto 40px;
    color: #827F8F;
    font-family: "SF Compact Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.account-box {
    /* box-sizing: border-box; */
    width: 146px;
    height: 47px; 
    margin-left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    background: linear-gradient(90deg, #92B0DE -44.81%, #434D9C 100%);
}
.youraccount {
    width: 86px;
    height: 17px;
    color: #FFF;
    font-family: "SF Compact Text";
    font-size: 14px;
    font-weight: 400;
   
}

 .itemeng {
    padding-left: 40px;
 }
.language-selector {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.selected-language {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Dropdown Menu (default hidden) */
.language-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #110D28;
    color: white;
    list-style: none;
    padding: 5px 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: none; /* თავდაპირველად დამალულია */
}

/* Dropdown Items */
.language-dropdown li {
    padding: 8px 5px;
    margin-left: 40px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: rgba(255, 255, 255, 0.029);
}

.language-dropdown li:hover {
    background-color: #f0f0f0;
    color: black;
}

/* Dropdown გაღება მხოლოდ CSS-ით */
.language-selector:hover .language-dropdown {
    display: block;
}
.flex-box {
    display: flex;
    justify-content: flex-start;
    /* border: 3px solid red; */
    margin-top: 145px;
    margin-left: 100px;
    padding-left: 100px;
    
}
.hellospan {
    width: 443px;
    height: 137px;
    /* border: 3px solid red; */
    color: #FFF;
    font-family: "Space Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 166.667% */
    letter-spacing: 2.4px; 
 }
 .youraccount2 {
    color: #FFF;
    font-family: "SF Compact Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    background: linear-gradient(90deg, #92B0DE -44.81%, #434D9C 100%); 
    position: absolute;
    left: 194px;
    top: 540px;
    width: 146px;
    height: 47px;
 }
 .litecoin {
    
 }
 .personalizedtrading {
    padding-left: 111px;
 }
 .transparent {
    width: 379px;
    height: 46px;
    top: 424px;
    left: 100px;     
    color: #827F8F;
    font-family: "SF Compact Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 164.286% */ 
    margin-left: 196px;
 }
.icon79 {
    position: absolute;
    padding-left: 818px;
    top: 453px;
}
.bitcoin2 {
   position: relative;
   padding-left: 327px;
   top: -285px;

 }
 .vector1 {
    position: absolute;
 }
 .vector2 {
    position: absolute;
 }
 .icon642 {
    padding-left: 649px;
    padding-top: 170px;
 }
 .icon80 {
    position: absolute;
    /* padding-left: 1020px; */
    /* margin-top: -222px; */
    top: 610px;
    left: 1085px;
 } 
 .miniicon1 {
    position: absolute;
    left: 323px;
    top:688px

 }
 .minigreen {
   position: absolute;
   top: 736px;
   left: 488px;
 }

 /* section 2 */
 .section2 {
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
    width: 100%;
    height: 899px;
    background: #171135;
    padding: 253px 150px 486px 847px;
 }
 .sect2welcome{
    color: #FFF;
    font-family: "Space Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 166.667% */
    letter-spacing: 2.4px; 
 }
 .sect2our {
    color: #827F8F;
    font-family: "SF Compact Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 164.286% */ 
    padding-top: 60px;
    width: 444px;
    height: 46px;
 }
 .sect2youraccount {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    width: 146px;
    height: 47px;
    gap: 10px;
    background: linear-gradient(90deg, #92B0DE -44.81%, #434D9C 100%);
    margin-top: 80px;
    color: #FFF;
    font-family: "SF Compact Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
 }
